.banner{
  height: 100px;
  background-color: #0282f9;
  .container{
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.item{
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  img{
    height: 50%;
  }
}